.heroBoxContainer{
  width: 270px;
  background: #fff;
  border-radius: 77% 23% 44% 56% / 51% 63% 37% 49%  ;
  margin: auto;
}
.heroBoxHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.heroBoxHeader .heroBoxTitle{
  padding-right: 30px ;
  font-size: 25px;
}
.heroBoxContainer {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.heroBoxTitle{
  font-family: 'PTSerif-Bold';
  font-size:50px ;
  text-align: center;

}
.heroBoxCount{
  font-size: 27px;
  font-weight: bold;
  text-align: center;

}
  